
.naviBarHeaderGridButton{
	float: right;
	margin-right: 22px;
	color:#c4b7c7;
	margin-top: 4px;

}

.naviBarHeaderBar {
	height: 47px !important;
    list-style-type: none;
    margin: 0;
	padding-left: 1rem;
    overflow: hidden;
	min-height: 20px;
	
	margin:0 auto;
	
	margin-bottom: 20px;
    width:100%;
    text-align:center;
}


.naviBarHeaderLogo{
	float:left;
	min-height: 44px;
	margin-top: 4px;
}